header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: red;
	font-size: 30px;
	color: white;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: absolute;
	left: 0px;
  	bottom: 0px;
	width: 100%;
	background-color: red;
	text-align: center;
	font-size: 20px;
}

#portal_button {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-right: 20px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

a {
	color: blue;
	text-decoration: none;
}

#portal_button img {
	height: 40px;
	width: auto;
}


#newsfeed {
	max-width: 500px;
	min-width: 10px;
}

.feedImage {
	max-width: 70px;
	max-height: 70px;
}
